body { 
    margin:0; 
    padding:0; 
    /* background-color: #bada55; */
    background-image: url(https://images.unsplash.com/photo-1483808161634-29aa1b0e585e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    opacity: 0.9;
    color: #c8f7c5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: larger;
    overflow: auto;
    text
}

.wrap {
    width: 980px;
    margin: 0 auto;
    }

.header { 
    height: 175px;
    width: auto;
    margin-bottom:15px;
    background-color:#503b32;
    text-align: center;
}
.logoheader{
float: left;
height: 175px;

}

.content {
    width:690px;
    height:400px;
    background-color:#503b32;
    float:right;
    /* border: thick;
    border-style: solid;
    border-color: black; */
    padding: 5px 5px 5px 5px;
}

.sidebar {
    width:275px;
    height:400px;
    background-color:#503b32;
    float:left;
}


.clear {
    clear:both;
}

.footer {
    height:70px;
    margin-top:15px;
    background-color:#503b32;
    opacity: 0.8;
}

h1{
  float: top;
  border: thick;
  /* border-width: 30px; */
  border-color: transparent;  
}
/* unvisited link */
a:link {
    color: #c8f7ff;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  